{
    "timeout": 10,
    "phpUnit": {
        "customPath": ".\/bin\/phpunit-8.4.3.phar"
    },
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "bin",
            "certificates",
            "tests",
            "vendor"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
